html {
    font-size: 14px;
    background-color: #804200;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

header {
    background: #804200;
}

footer {
    background: #804200;
}

.selected {
    background-color: #BDC6F5;
    border-radius: 25px;
}

.nav-item:hover {
    background-color: #BDC6F5;
    border-radius: 25px;
}

.nav-item {
    font-size: 25px;
}

@font-face {
    font-family: FILM;
    src: url('ACFilmstrip.otf');
}

@font-face {
    font-family: FONT;
    src: url('Blockletter.otf');
}

body {
    margin-bottom: 60px;
    background-color: #E66700;
    font-family: FONT;
}

.contactform label {
    width: 100px;
    margin-block: 5px;
}

.contactform .field-validation-error {
    color: #BDC6F5;
    margin-left: 10px;
}

.header-text {
    text-align: center;
    color: #1A1A1A;
    font-family: FILM;
}

.film-pagina-titel {
    text-align: center;
    font-family: FILM;
}

.detail-name {
    text-align: center;
    font-family: FILM;
}

.detail-trailer {
    color: #E6E6E6;
    background-color: #1A1A1A;
    font-family: FILM;
}

.detail-age {
    float: left;
    margin-left: 20px;
}

.detail-description {
    color: #1A1A1A;
    font-size: 20px;
    margin-left: 140px;
    margin-right: 50px;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
}

.column2 {
    text-align: center;
    float: left;
    width: 20%;
    padding: 5px;
    background-color: #1A1A1A;
}

.column3 {
    text-align: center;
    float: left;
    width: 20%;
    padding: 5px;
    color: #1A1A1A;
}

.cast-crew{
    text-align: center;
    color: #1A1A1A;
    font-family: FILM;
}


.soon {
    text-align: center;
    color: #E6E6E6;
    background-color: #1A1A1A;
    font-family: FILM;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


.footerX {
    text-align: center;
    width: 16%;
    color: #E6E6E6;
}

.map {
    color: #E6E6E6;
    background-color: #1A1A1A;
}

.find-text {
    color: #E6E6E6;
    background-color: #1A1A1A;
    font-family: FILM;
}

.follow {
    text-align: center;
    width: 33.33%;
    color: #1A1A1A;
    background-color: #E6E6E6;
}
.follow-text {
    text-align: center;
    color: #1A1A1A;
    background-color: #E6E6E6;
    font-family: FILM;
}


.offer-text {
    text-align: center;
    color: #E6E6E6;
    background-color: #1A1A1A;
    font-family: FILM;
}

.offer {
    text-align: center;
    width: 33.33%;
    color: #E6E6E6;
    background-color: #1A1A1A;
}

* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.detail-image {
    text-align: center;
}

.detail-big-slide {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

.big-trailer {
    text-align: center;
    width: 100%;
    height: 100%;
}

.yt {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    margin: auto;
    padding: 0% 0% 56.25%;
    overflow: hidden;
}

.yt iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-text{
    font-family: FILM;
}

.ticket-button {
    font-size: 50px;
    color: #1A1A1A;
    background-color: #BDC6F5;
    border-radius: 30px;
}

.contact-button {
    font-size: 20px;
    color: #1A1A1A;
    background-color: #BDC6F5;
    border-radius: 25px;
}