:root {
    --clr-primary: #E67700;
    --clr-secondary: #804200;
    --clr-accent: #bdc6f5;
    --clr-1: #e6e6e6;
    --clr-2: #1a1a1a;

    --foreground: var(--clr-primary);
    --background: var(--clr-secondary);
}

.darkmode {
    --clr-primary: #0d1117;
    --clr-secondary: #804200;
    --clr-accent: #f4d47c;
    --clr-1: #21262d;
    --clr-2: #89929b;

    --foreground: var(--clr-primary);
    --background: var(--clr-secondary);
}

html {
    font-size: 14px;
    background-color: var(--background);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

header {
    background: var(--background);
}

footer {
    background: var(--background);
}

.selected {
    background-color: var(--clr-accent);
    border-radius: 25px;
}

.nav-item:hover {
    background-color: var(--clr-accent);
    border-radius: 25px;
}

.nav-item {
    font-size: 25px;
}

.nav-link {
    color: var(--clr-2);
}

@font-face {
    font-family: FILM;
    src: url('ACFilmstrip.otf');
}

@font-face {
    font-family: FONT;
    src: url('Blockletter.otf');
}

body {
    margin-bottom: 60px;
    background-color: var(--foreground);
    font-family: FONT;
}

.dark-mode-toggle {
    position: absolute;
    z-index: 100;
    top: 40%;
    right: 1em;
    color: var(--foreground);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.contactform label {
    width: 100px;
    margin-block: 5px;
}

.contactform .field-validation-error {
    color: var(--clr-accent);
    margin-left: 10px;
}

.ticketorder input[type=text], input[type=date], input[type=time] {
    width: 15%;
}

.ticketorder select {
    width: 15%;
}

.header-text {
    text-align: center;
    color: var(--clr-2);
    font-family: FILM;
}

.film-pagina-titel {
    text-align: center;
    font-family: FILM;
    color: var(--clr-2)
}

.detail-name {
    text-align: center;
    font-family: FILM;
    color: var(--clr-2)
}

.detail-trailer {
    color: var(--clr-1);
    background-color: var(--clr-2);
    font-family: FILM;
}

.detail-age {
    float: left;
    margin-left: 20px;
}

.detail-description {
    color: var(--clr-2);
    font-size: 20px;
    margin-left: 140px;
    margin-right: 50px;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
}

.column2 {
    text-align: center;
    float: left;
    width: 20%;
    padding: 5px;
    background-color: var(--clr-2);
}

.column3 {
    text-align: center;
    float: left;
    width: 20%;
    padding: 5px;
    color: var(--clr-2);
}

.cast-crew{
    text-align: center;
    color: var(--clr-2);
    font-family: FILM;
}


.soon {
    text-align: center;
    color: var(--clr-1);
    background-color: var(--clr-2);
    font-family: FILM;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


.footerX {
    text-align: center;
    width: 16%;
    color: var(--clr-1);
}

.map {
    color: var(--clr-1);
    background-color: var(--clr-2);
}

.find-text {
    color: var(--clr-1);
    background-color: var(--clr-2);
    font-family: FILM;
}

.follow {
    text-align: center;
    width: 33.33%;
    color: var(--clr-2);
    background-color: var(--clr-1);
}
.follow-text {
    text-align: center;
    color: var(--clr-2);
    background-color: var(--clr-1);
    font-family: FILM;
}


.offer-text {
    text-align: center;
    color: var(--clr-1);
    background-color: var(--clr-2);
    font-family: FILM;
}

.offer {
    text-align: center;
    width: 33.33%;
    color: var(--clr-1);
    background-color: var(--clr-2);
}

* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: var(--clr-2);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: var(--clr-2);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.detail-image {
    text-align: center;
}

.detail-big-slide {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

.big-trailer {
    text-align: center;
    width: 100%;
    height: 100%;
}

.yt {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    margin: auto;
    padding: 0% 0% 56.25%;
    overflow: hidden;
}

.yt iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-text {
    font-family: FILM;
    color: var(--clr-2)
}

.ticket-button {
    font-size: 50px;
    color: var(--clr-2);
    background-color: var(--clr-accent);
    border-radius: 30px;
}

.contact-button {
    font-size: 20px;
    color: var(--clr-2);
    background-color: var(--clr-accent);
    border-radius: 25px;
}

.order-image {
    width: 20%;
}

.form-group {
    color: var(--clr-2)
}

.abc {
    color: var(--clr-2)
}

.Imap {
    display: block;
    margin-left: auto;
    margin-right: auto;
}