html {
    font-size: 14px;
    background-color: #804200;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

header {
    background: #804200;
}

footer {
    background: #804200;
}

.nav-item:hover {
    background-color: #BDC6F5;
    border-radius: 25px;
}

.nav-link.active{
    background-color: green;
}

body {
    margin-bottom: 60px;
    background-color: #E66700;
}

.contactform label {
    width: 100px;
    margin-block: 5px;
}

.contactform .field-validation-error {
    color: red;
    margin-left: 10px;
}

.footer-text {
    text-align: center;
    color: #E6E6E6;
}

.film-pagina-titel{
    text-align: center;
}

.mainImage {
    border: 5px solid #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.detail-name {
    text-align: center;
}

.detail-trailer {
    color: #E6E6E6;
    background-color: #1A1A1A;
}

.detail-age {
    float: left;
}

.detail-description {
    color: #1A1A1A;
    font-size: 20px;
    margin-left: 120px;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
}

.column2 {
    float: left;
    width: 20%;
    padding: 5px;
    background-color: #1A1A1A;
}

.soon {
    text-align: center;
    color: #E6E6E6;
    background-color: #1A1A1A;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


.footerX {
    text-align: center;
    width: 16%;
    color: #E6E6E6;
}