@model Database_website_yml.Models.Film


<h1>@ViewData["Title"]</h1>

<div class="detail-name">@Model.name</div>
<div class="detail-image">@Model.image</div>
<div class="detail-description">@Model.description</div>

<p>Use this page to detail your site's privacy policy.</p>
