@{
    ViewData["Title"] = "Films";
}
<h1 class="film-pagina-titel">Actueel filmaanbod in de bioscoop</h1>

<div class="row">
  <div class="column">
        <a href=" Detail?filmName=Ted Lasso"><img src="https://m.media-amazon.com/images/I/71UtXuw8XcL._AC_UF894,1000_QL80_.jpg" alt="Ted Lasso" width=255 height=380 style="border: 5px solid #1A1A1A;"></a>
  </div>
  <div class="column">
        <a href=" Detail?filmName=Super Mario Movie"><img src="https://www.gamereactor.nl/media/81/supermariobros_3958163b.jpg" alt="Super Mario Movie" width=255 height=380 style="border: 5px solid #1A1A1A;"></a>
  </div>
  <div class="column">
        <a href=" Detail?filmName=Back to the future"><img src="https://media.s-bol.com/Y19wKYPXgX0/550x824.jpg" alt="Back to the future" width=255 height=380 style="border: 5px solid #1A1A1A;"></a>
  </div>
  <div class="column">
        <a href=" Detail?filmName=The hangover"><img src="https://i.pinimg.com/originals/7a/73/6d/7a736d1cd4bc02005c6381eefc34c1e1.jpg" alt="The hangover" width=255 height=380 style="border: 5px solid #1A1A1A;"></a>
  </div>
  <div class="column">
        <a href=" Detail?filmName=Avengers Endgame"><img src="https://lumiere-a.akamaihd.net/v1/images/p_avengersendgame_19751_e14a0104.jpeg?region=0%2C0%2C540%2C810" alt="Avengers Endgame" width=255 height=380 style="border: 5px solid #1A1A1A;"></a>
  </div>
</div>

<div class="row">
    <div class="column">
        <a href=" Detail?filmName=Barbie"><img src="https://deadline.com/wp-content/uploads/2023/04/barbie-BARBIE_VERT_TSR_W_TALENT_2764x4096_DOM_rgb.jpg?w=800" alt="Barbie" width=255 height=380 style="border: 5px solid #1A1A1A;"></a>
    </div>
    <div class="column">
        <a href=" Detail?filmName=The Batman"><img src="https://static.posters.cz/image/1300/posters/the-batman-2022-i122127.jpg" alt="The Batman" width=255 height=380 style="border: 5px solid #1A1A1A;"></a>
    </div>
    <div class="column">
        <a href=" Detail?filmName=Jason Bourne"><img src="https://static.tvtropes.org/pmwiki/pub/images/jasonbourne_7.jpg" alt="Jason Bourne" width=255 height=380 style="border: 5px solid #1A1A1A;"></a>
    </div>
    <div class="column">
        <a href=" Detail?filmName=Uncharted"><img src="https://assets-prd.ignimgs.com/2022/01/13/uncharted-poster-full-1642086040683.jpg" alt="Uncharted" width=255 height=380 style="border: 5px solid #1A1A1A;"></a>
    </div>
    <div class="column">
        <a href=" Detail?filmName=Ready Player One"><img src="https://www.themoviedb.org/t/p/original/sbSEzrkW9ej8VvOtSVCvimt24CE.jpg" alt="Ready Player One" width=255 height=380 style="border: 5px solid #1A1A1A;"></a>
    </div>
</div>
<br>
</div>

<div class="row">
    <div class="soon">
        <h1>Binnenkort beschikbaar</h1>
    </div>
    <div class="column2">
        <a></a>
    </div>
    <div class="column2">
        <a href=" Detail?filmName=Gran Turismo"><img src="https://mlpnk72yciwc.i.optimole.com/cqhiHLc.IIZS~2ef73/w:auto/h:auto/q:75/https://bleedingcool.com/wp-content/uploads/2023/05/gran_turismo_ver5_xlg.jpg" alt="Gran Turismo" width=255 height=380 style="border: 5px solid #E6E6E6;"></a>
    </div>
    <div class="column2">
        <a href=" Detail?filmName=Indiana Jones"><img src="https://media.wdwnt.com/2022/12/Indiana-Jones-5.jpg" alt="Indiana Jones" width=255 height=380 style="border: 5px solid #E6E6E6;"></a>
    </div>
    <div class="column2">
        <a href=" Detail?filmName=The tourist"><img src="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/e5e0f584b07d2d6df22bacf89dd08982a77672871979ec9e2f85e7cd43d4a7d4._RI_TTW_.jpg" alt="The tourist" width=255 height=380 style="border: 5px solid #E6E6E6;"></a>
    </div>
    <div class="column2">
        <a></a>
    </div>
</div>