@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img class="mainImage" src="https://m.media-amazon.com/images/I/71UtXuw8XcL._AC_UF894,1000_QL80_.jpg" alt="mainImage" />
     @foreach(string naam in Model)
     {
       <p>@naam</p>
     }
</div>
