@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Nu te zien bij Argus!</h1>
    <a href=" Detail?filmName=Ted Lasso"><img class="mainImage" src="https://m.media-amazon.com/images/I/71UtXuw8XcL._AC_UF894,1000_QL80_.jpg" alt="mainImage"></a>
</div>
